@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {

    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #222;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    transition: .5s;
}

a:hover {
    color: red;
}

.logo a {
    font-weight: bold !important;
    font-size: 28px !important;
}


/* ----------------------------------------------------- */


.cover {
    background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -2;
}

.cover::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: -1;
}

.cover h1 {
    font-size: 45px;
    color: white;
    margin: 20px 0;
}

.cover p {
    font-size: 20px;
    color: white;
}

section {
    margin: 5px;
    padding: 5px;
}

section aside {
    padding: 0px;
}

section h1 {
    margin: 10px 0;
}

section p {
    font-size: 20px;
    letter-spacing: 1;
}